<div id="<%= dom_id comment %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Claim</p>
    <%= comment.claim_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">User</p>
    <%= comment.user_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= comment.description %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Is verified</p>
    <%= comment.is_verified %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Is active</p>
    <%= comment.is_active %>
  </div>
  <% if action_name != "show" %>
    <%= link_to "View this comment", comment, class: "btn btn-secondary" %>
  <% end %>
</div>
