<%= content_for :title, "Damaged Items ##{@damaged_item.id}" %>
<%= turbo_stream_from @damaged_item %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Damaged Items", damaged_items_path, class: "text-black dark:text-white" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Damaged Item #<%= @damaged_item.id %>
    </h1>
    <%= link_to t("edit"), edit_damaged_item_path(@damaged_item), class: "btn btn-secondary" %>
  </div>

  <div class="p-8 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded shadow">
    <%= render @damaged_item %>
  </div>
</div>
