<%= form_with(model: municipality) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div class="form-group">
    <%#= form.label :account_id %>
    <%#= form.text_field :account_id, class: "form-control" %>
    <%# Hidden account_id for the current account %>
    <%= form.hidden_field :account_id, value: current_account.id %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), municipalities_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to t("cancel"), municipality_path(@municipality), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
